streamlit==1.33.0
pillow==10.3.0
torch==2.2.2
torchvision==0.17.2
s3fs==2024.3.1
requests==2.31.0
prometheus-client==0.16.0
scikit-learn
sqlalchemy==1.4.52
psycopg2-binary==2.9.10
boto3==1.36.12
faiss-cpu
apache-airflow==2.9.0

# for tests
streamlit
pandas
pytest
unittest